<footer class="page-footer font-small primary-color-dark pt-4">
  <!-- Footer Elements -->
  <div class="container">
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a
          href="https://www.facebook.com/mayank.khanna.900"
          class="btn-floating btn-fb mx-1"
          mdbWavesEffect
        >
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a
          href="https://twitter.com/khannamayank98"
          class="btn-floating btn-tw mx-1"
          mdbWavesEffect
        >
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a
          href="https://www.instagram.com/mayank.khanna98/"
          class="btn-floating btn-gplus mx-1"
          mdbWavesEffect
        >
          <mdb-icon fab fab icon="instagram"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a
          href="https://linkedin.com/in/khanna98/"
          class="btn-floating btn-li mx-1"
          mdbWavesEffect
        >
          <mdb-icon fab icon="linkedin"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a
          href="https://github.com/khanna98"
          class="btn-floating btn-github mx-1"
          mdbWavesEffect
        >
          <mdb-icon fab icon="github"></mdb-icon>
        </a>
      </li>
    </ul>
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © Made with <a href="https://angular.io">Angular</a> & &hearts; by
    <a href="https://github.com/khanna98"> Mayank Khanna</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
