.desc {
  padding: 20px 0px;
}
#main {
  margin-top: 30px;
  button {
    a:visited {
        color: white
    }
    a:link {
      color: white;
    }
    a:hover{
        color: white;
    }
    a:active{
        color: white;
    }
  }
}
.pro {
  padding: 20px;
  img {
    padding: 30px 0px;
  }
}
