<div class="jumbotron">
  <h1 class="desc" id="main">My Projects</h1>
  <p>
    Here is a list of projects I have made and my contributions to the
    Open-Sourec &hearts;
  </p>

  <section class="main">
    <!-- Project 1 -->
    <div class="row pro">
      <div class="col-md-4">
        <img
          src="./assets/images/quiz-app-flutter.png"
          class="img-fluid rounded"
          id="image"
          alt="quiz app"
        />
      </div>
      <div class="col-md-8">
        <h2>Quiz App</h2>
        <p>
          This is a simple quiz app made in flutter that take questions from an
          online API and puts in front of it. It can be run both on Android and
          IOS
        </p>
        <p>
          It also shows the difficulty and genre of the questions asked. The
          questions can be MCQ's or Boolean based.
        </p>
        <p>Technologies Used : Android, Flutter</p>
        <button class="btn primary-color-dark">
          <a
            class="nav-link"
            routerLink="https://github.com/Code-Learn-Work/QuizApp-Flutter"
            ><i class="fab fa-github"></i> Check It Out</a
          >
        </button>
      </div>
    </div>
    <hr />
    <!-- Project 2 -->
    <div class="row pro">
      <div class="col-md-8">
        <h2>Arcade Game</h2>
        <p>
          This is a simple arcade game made in Javascript. This is an
          implementation of Frogger game where user has to go through a lane
          avoiding the beetles.
        </p>
        <p>
          They score a point once they cross the lane without getting hit. With
          increasing score, the number of beetles increases.
        </p>
        <p>Technologies Used : HTML5, CSS3, Javascript</p>
        <button class="btn primary-color-dark">
          <a
            routerLink="https://github.com/khanna98/frontend-nanodegree-arcade-game"
            class="nav-link"
            ><i class="fab fa-github"></i> Check It Out</a
          >
        </button>
      </div>
      <div class="col-md-4">
        <img
          src="./assets/images/arcade-game.png"
          alt="arcade game"
          class="img-fluid rounded"
        />
      </div>
    </div>
    <hr />

    <!-- Project 3 -->
    <div class="row pro">
      <div class="col-md-4">
        <img
          src="./assets/images/pixel-art-maker.png"
          alt="pixel art maker"
          class="img-fluid rounded"
        />
      </div>
      <div class="col-md-8">
        <h2>Pixel Art Maker</h2>
        <p>
          A simple pixel art maker that helps you make your favourite pixel art
          made simply using Javascript.
        </p>
        <p>
          In this the user defines the height and the width of the pixel board.
          After this the user choses the color and paints what ever they want.
        </p>
        <p>Technologies Used : HTML5, CSS3, Javascript</p>
        <button class="btn primary-color-dark">
          <a routerLink="https://github.com/khanna98/Pixel-Art-Maker" class="nav-link"
            ><i class="fab fa-github"></i> Check It Out</a
          >
        </button>
      </div>
    </div>
    <hr />
    <!-- Project 4 -->
    <div class="row pro">
      <div class="col-md-8">
        <h2>Movie Trailer Website</h2>
        <p>
          This is a simple movie trailer website that displays a list of movies
          made completely using Python3.
        </p>
        <p>
          In this the user clicks the movie image and the trailer for the same
          is displayed from Youtube in the website only !
        </p>
        <p>Technologies Used : Python3, HTML5, CSS3</p>
        <button class="btn primary-color-dark">
          <a
            class="nav-link"
            routerLink="https://github.com/khanna98/Movie-trailer-website"
            ><i class="fab fa-github"></i> Check It Out</a
          >
        </button>
      </div>

      <div class="col-md-4">
        <img
          src="./assets/images/movie-trailer.png"
          alt="movie trailer"
          class="img-fluid rounded"
        />
      </div>
    </div>
    <hr />
    <!-- Project 5 -->
    <div class="row pro">
      <div class="col-md-4">
        <img
          src="./assets/images/map.png"
          alt="map"
          class="img-fluid rounded"
          height="200"
        />
      </div>
      <div class="col-md-8">
        <h2>Neighbourhood Map</h2>
        <p>
          This is a neighbourhood map made with Javascript and Four-Square API
        </p>
        <p>This gives you the location needed and the places near it.</p>
        <p>Technologies Used : Javascript</p>
        <button class="btn primary-color-dark">
          <a
            class="nav-link"
            routerLink="https://github.com/khanna98/Neighbourhood-Map"
            ><i class="fab fa-github"></i> Check It Out</a
          >
        </button>
      </div>
    </div>
    <hr />
    <button class="btn primary-color-dark">
      <a class="nav-link" routerLink="https://github.com/khanna98"
        ><i class="fab fa-github"></i> More Projects</a
      >
    </button>
  </section>
</div>
<div class="jumbotron">
  <h1 class="desc">Github Feed</h1>
  <div>
    <img
      src="http://ghchart.rshah.org/khanna98"
      alt="khanna98's Github Chart"
      class="img-fluid rounded"
    />
  </div>
</div>
