<div class="jumbotron">
  <h1 class="desc" id="main">My Projects</h1>
  <p>
    Here is a list of projects I have made and my contributions to the
    Open-Source &hearts;
  </p>

  <section class="main">
    <!-- Project 1 -->
    <div class="row pro">
      <div class="col-md-4">
        <img src="./assets/images/quiz-app-flutter.png" class="img-fluid rounded" id="image" alt="quiz app" />
      </div>
      <div class="col-md-8">
        <h2>Quiz App</h2>
        <p>
          This is a simple quiz app made in flutter that take questions from an
          online API and puts in front of it. It can be run both on Android and
          IOS
        </p>
        <p>
          It also shows the difficulty and genre of the questions asked. The
          questions can be MCQ's or Boolean based.
        </p>
        <p>Technologies Used : Android, Flutter</p>
        <a mdbBtn color="indigo" size="sm" class="waves-light" href="https://github.com/Code-Learn-Work/QuizApp-Flutter"
          dbWavesEffect>
          <i class="far fa-clone left"></i> View project</a>
      </div>
    </div>
    <hr />
    <!-- Project 2 -->
    <div class="row pro">
      <div class="col-md-8">
        <h2>Arcade Game</h2>
        <p>
          This is a simple arcade game made in Javascript. This is an
          implementation of Frogger game where user has to go through a lane
          avoiding the beetles.
        </p>
        <p>
          They score a point once they cross the lane without getting hit. With
          increasing score, the number of beetles increases.
        </p>
        <p>Technologies Used : HTML5, CSS3, Javascript</p>

        <a mdbBtn color="indigo" size="sm" class="waves-light" href="https://github.com/khanna98/frontend-nanodegree-arcade-game"
          dbWavesEffect>
          <i class="far fa-clone left"></i> View project</a>
      </div>
      <div class="col-md-4">
        <img src="./assets/images/arcade-game.png" alt="arcade game" class="img-fluid rounded" />
      </div>
    </div>
    <hr />

    <!-- Project 3 -->
    <div class="row pro">
      <div class="col-md-4">
        <img src="./assets/images/pixel-art-maker.png" alt="pixel art maker" class="img-fluid rounded" />
      </div>
      <div class="col-md-8">
        <h2>Pixel Art Maker</h2>
        <p>
          A simple pixel art maker that helps you make your favourite pixel art
          made simply using Javascript.
        </p>
        <p>
          In this the user defines the height and the width of the pixel board.
          After this the user choses the color and paints what ever they want.
        </p>
        <p>Technologies Used : HTML5, CSS3, Javascript</p>
        <a mdbBtn color="indigo" size="sm" class="waves-light" href="https://github.com/khanna98/Pixel-Art-Maker"
          dbWavesEffect>
          <i class="far fa-clone left"></i> View project</a>
      </div>
    </div>
    <hr />
    <!-- Project 4 -->
    <div class="row pro">
      <div class="col-md-8">
        <h2>Movie Trailer Website</h2>
        <p>
          This is a simple movie trailer website that displays a list of movies
          made completely using Python3.
        </p>
        <p>
          In this the user clicks the movie image and the trailer for the same
          is displayed from Youtube in the website only !
        </p>
        <p>Technologies Used : Python3, HTML5, CSS3</p>
        <a mdbBtn color="indigo" size="sm" class="waves-light" href="https://github.com/khanna98/Movie-trailer-website"
          dbWavesEffect>
          <i class="far fa-clone left"></i> View project</a>
      </div>

      <div class="col-md-4">
        <img src="./assets/images/movie-trailer.png" alt="movie trailer" class="img-fluid rounded" />
      </div>
    </div>
    <hr />
    <!-- Project 5 -->
    <div class="row pro">
      <div class="col-md-4">
        <img src="./assets/images/map.png" alt="map" class="img-fluid rounded" height="200" />
      </div>
      <div class="col-md-8">
        <h2>Neighbourhood Map</h2>
        <p>
          This is a neighbourhood map made with Javascript and Four-Square API
        </p>
        <p>This gives you the location needed and the places near it.</p>
        <p>Technologies Used : Javascript</p>
        <a mdbBtn color="indigo" size="sm" class="waves-light" href="https://github.com/khanna98/Neighbourhood-Map"
          dbWavesEffect>
          <i class="far fa-clone left"></i> View project</a>
      </div>
    </div>
    <hr />
    <a mdbBtn color="indigo" size="sm" class="waves-light" href="https://github.com/khanna98" dbWavesEffect>
      <i class="far fa-clone left"></i> More roject</a>
  </section>
</div>
<div class="jumbotron">
  <h1 class="desc">Github Feed</h1>
  <div>
    <img src="http://ghchart.rshah.org/khanna98" alt="khanna98's Github Chart" class="img-fluid rounded" />
  </div>
</div>
<div class="jumbotron">
  <h1 class="desc" id="main">Organizations</h1>
  <p>
    Apart from making Open-Soure projects, I am also a part of many
    Organizations. <br />
    I am also the creater and maintainer of
    <a href="https://github.com/Code-Learn-Work">Code Learn Work</a> where I
    post various codes and make projects with my friends. <br />
    Some of those Organizations are :
  </p>
  <br />
  <!--Projects section v.1-->
  <section>
    <!--Grid row-->
    <div class="row text-center">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
          <img src="./assets/images/fossasia.jpg" class="img-fluid" alt="fossasia" />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Excerpt-->
        <mdb-card-body class="mt-3">
          <h4>
            <strong>FOSSASIA</strong>
          </h4>
          <p class="grey-text">
            FOSSASIA is an organization developing software applications for
            social change using a wide-range of technologies. It was established
            2009. Projects range from Free and Open Source software, to design,
            graphics and hardware. We also organize and participate in
            conferences, meetups and code camps. The annual FOSSASIA
            OpenTechSummit is one of the largest gatherings of developers in
            Asia and took place in Vietnam, Cambodia and Singapore. Please join
            us and start contributing to our projects on GitHub.
          </p>
          <a mdbBtn color="indigo" size="sm" class="waves-light" href="https://github.com/fossasia/" mdbWavesEffect>
            <i class="far fa-clone left"></i> View Projects</a>
        </mdb-card-body>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
          <img src="./assets/images/CodeLearnWork.jpg" class="img-fluid" alt="Sample project image" />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Excerpt-->
        <mdb-card-body class="mt-3">
          <h4>
            <strong>CODE LEARN WORK</strong>
          </h4>
          <p class="grey-text">
            An organization where you can learn to code the easiest way and make
            the best career as a developer. We have many Open Source projects
            running and we work on the newest and the finest technologies. We
            are open to all suggestions and you can fork and contribute to any
            of our projects.
          </p>
          <a mdbBtn color="indigo" size="sm" class="waves-light" href="https://github.com/Code-Learn-Work"
            mdbWavesEffect>
            <i class="far fa-clone left"></i> View Projects</a>
        </mdb-card-body>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
          <img src="../../assets/images/yogdaan.png" class="img-fluid mx-auto d-block" alt="Sample project image" />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Excerpt-->
        <mdb-card-body class="mt-3">
          <h4>
            <strong>YOGDAAN</strong>
          </h4>
          <p class="grey-text">
            We basically aim to build, promote and use OSS. Anyone is allowed to
            come up with an idea and everyone just gets along with it and start
            working. Primary aim for now is to develop "Varnan", which is an
            analystics tool for APIs.
          </p>
          <a mdbBtn color="indigo" size="sm" class="waves-light" href="https://github.com/yogdaan" mdbWavesEffect>
            <i class="far fa-clone left"></i> View Projects</a>
        </mdb-card-body>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </section>
  <!--/Projects section v.1-->
</div>