<!-- Section: Contact v.1 -->
<section class="my-5">
  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5" id="main">
    Contact Me
  </h2>
  <!-- Section description -->
  <p class="text-center w-responsive mx-auto pb-5">
    A lot can happen over a coffee and even when people start talking. If you
    like my work or even dislike it, just fill in the form below and lets get
    together to talk, walk and work together on some cool projects.
  </p>

  <!-- Form with header -->
  <form action="mailto:mayankkhanna98@gmail.com" method="POST" onsubmit="thankYou()">
    <div class="card container">
      <div class="card-body">
        <!-- Header -->
        <div class="form-header text-center">
          <h3 class="mt-2"><i class="fas fa-envelope"></i> Write to me</h3>
        </div>
        <p class="dark-grey-text text-center">I'll revert back to you soon.</p>
        <!-- Body -->
        <div class="md-form">
          <i class="fas fa-user prefix grey-text"></i>
          <input
            type="text"
            id="form-name"
            placeholder="Your Name"
            class="form-control"
          />
        </div>
        <div class="md-form">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input
            type="text"
            id="form-email"
            class="form-control"
            placeholder="Your Email"
          />
        </div>
        <div class="md-form">
          <i class="fas fa-tag prefix grey-text"></i>
          <input
            type="text"
            id="form-Subject"
            class="form-control"
            placeholder="Subject"
          />
        </div>
        <div class="md-form">
          <i class="fas fa-pencil-alt prefix grey-text"></i>
          <textarea
            type="text"
            id="form-text"
            class="form-control md-textarea"
            rows="3"
            placeholder="Message"
          ></textarea>
        </div>
        <div class="text-center">
          <input type="submit" value="Submit" class="btn btn-primary">
        </div>
      </div>
    </div>
  </form>
</section>
<!-- Section: Contact v.1 -->
