<!-- Section: Contact v.1 -->
<section class="my-5">
  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5" id="main">
    Contact Me
  </h2>
  <!-- Section description -->
  <p class="text-center w-responsive mx-auto pb-5" style="font-size: 1.5rem">
    A lot can happen over a coffee and even when people start talking. If you
    like my work or even dislike it, just fill in the form below and lets get
    together to talk, walk and work together on some cool projects.
  </p>
</section>

<section class="team-section text-center my-5">
  <!-- Section description -->
  <p class="dark-grey-text w-responsive mx-auto mb-5" style="font-size: 1.5rem">
    Here are the testimonial of some of the people I worked with. I hope this
    helps you understand me much better. Most of them are anonymous as I don't
    want to reveal their identity.
  </p>

  <!--Grid row-->
  <div class="row text-center">
    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5">
      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img
            src="./assets/images/avatar1.png"
            class="rounded-circle z-depth-1 img-fluid"
          />
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">Anna Deynah</h4>
        <h6 class="font-weight-bold blue-text my-3">Web Designer</h6>
        <p class="font-weight-normal dark-grey-text">
          <i class="fas fa-quote-left pr-2"></i>He is a great and really
          hardworking guy. He is highly optimistic and helps you out always
          whenever needed. He is highly motivating and really fun to work
          with.<i class="fas fa-quote-right pr-2"></i>
        </p>
        <!--Review-->
        <div class="orange-text">
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star-half"> </i>
        </div>
      </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5">
      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img
            src="./assets/images/avatar2.png"
            class="rounded-circle z-depth-1 img-fluid"
          />
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">John Doe</h4>
        <h6 class="font-weight-bold blue-text my-3">Businessman</h6>
        <p class="font-weight-normal dark-grey-text">
          <i class="fas fa-quote-left pr-2"></i>I was facing real issues while
          thinking of how to make a management software and a website with not
          much budget for them. It is at this point where he came into help and
          I can say he is really good and helpful and great at whatever he does.
          <i class="fas fa-quote-right pr-2"></i>
        </p>
        <!--Review-->
        <div class="orange-text">
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="far fa-star"> </i>
        </div>
      </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img
            src="./assets/images/avatar3.png"
            class="rounded-circle z-depth-1 img-fluid"
          />
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">Maria Kate</h4>
        <h6 class="font-weight-bold blue-text my-3">
          Computer Science Student
        </h6>
        <p class="font-weight-normal dark-grey-text">
          <i class="fas fa-quote-left pr-2"></i>Not only is he a great friend,
          but also a great teacher. The way of his teaching is really awesome
          and it really helped me score good in the exams. Not only has he
          helped me perform in exams but also involves me in making various
          projects and hosting many workshops for our juniors. He is great !
          <i class="fas fa-quote-right pr-2"></i>
        </p>
        <!--Review-->
        <div class="orange-text">
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
        </div>
      </div>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</section>
<section>
  <p style="font-size: 2rem">
    If you liked the reviews and want to work with me or collaborate for
    something, you can contact me on the given links below. I may be slow to
    respond, but yes I will respond for sure.
  </p>

  <div class="jumbotron text-center">
    <a
      href="https://twitter.com/khannamayank98"
      class="btn btn-primary  btn-social-icon btn-twitter"
      mdbTooltip="Twitter"
      placement="top"
    >
      <span class="fab fa-3x fa-twitter"></span>
    </a>

    <a
      class="btn btn-primary btn-social-icon btn-facebook"
      mdbTooltip="Facebook"
      href="https://www.facebook.com/mayank.khanna.900"
      placement="top"
    >
      <span class="fab fa-3x fa-facebook"></span>
    </a>
    <a
      class="btn btn-primary btn-social-icon btn-google"
      mdbTooltip="Google"
      href="mailto:mayankkhanna98@gmail.com"
      placement="top"
    >
      <span class="fab fa-3x fa-google"></span>
    </a>
    <a
      class="btn btn-primary btn-social-icon btn-instagram"
      mdbTooltip="Instagram"
      href="https://www.instagram.com/mayank.khanna98/"
      placement="top"
    >
      <span class="fab fa-3x fa-instagram"></span>
    </a>
    <a
      class="btn btn-primary btn-social-icon btn-linkedin"
      mdbTooltip="Linkedin"
      href="https://linkedin.com/in/khanna98/"
      placement="top"
    >
      <span class="fab fa-3x fa-linkedin"></span>
    </a>
    <a
      class="btn btn-primary btn-social-icon btn-github"
      mdbTooltip="Github"
      href="https://github.com/khanna98"
      placement="top"
    >
      <span class="fab fa-3x fa-github"></span>
    </a>
  </div>
</section>

