<!--* Bio -->
<section class="jumbotron" id="bio">
  <h1 class="desc">Bio</h1>
  <div class="row">
    <div class="col-md-5">
      <img src="./assets/images/profile.jpg" alt="profile-image" class="img-fluid rounded" id="image" />.
    </div>
    <div class="col-md-7">
      <h2>Hi, I'm Mayank Khanna :)</h2>
      <p>
        I'm current studying Computer Science and Engineering from Chitkara
        University, Rajpura. My main field of interest is Web Development and I
        can make awesome looking webpages that are really cool very easily ! In
        the world of Development where frameworks and tools evolve from
        day-to-day, it really doesn't matter what framework I use. What really
        matters is the willingness and grasping power to learn with the flow.
        And believe me I'm a really fast learner. I try to go one step at a
        time which makes the whole concept of learning a total easy job and deep
        knowledge of the concepts.
      </p>
      <p>
        Currently I'm working with JavaScript, Angular, Java, Node.js and
        Firebase. Some of the other important things that I'll include are
        C/C++, Git, Linux etc.
      </p>
      <p>
        I also work with Google's Flutter for Android and IOS Development and am
        looking forward to upgrade my skills for Machine Learning and Artificial
        Intelligence.
      </p>
      <form method="GET" action="./assets/document/Resume_Updated.pdf">
        <button mdbBtn type="submit" color="primary" rounded="true" mdbWavesEffect>Resume</button>
      </form>
    </div>
  </div>
</section>

<!--* Education -->
<section class="jumbotron">
  <h1 class="desc">Education and Certifications</h1>
  <h4>B.E Computer Science and Engineering</h4>
  <p>
    I'm currently pursuing this from Chitkara University, Rajpura, Punjab
    (2016-Present)
  </p>
  <h4>Front-End Developer I</h4>
  <p>I did this online certification from Udacity (January - March 2018)</p>
  <h4>Core-Java Online Training</h4>
  <p>I did this online certification from Acadview (June - July 2018)</p>
  <h4>Front-End Developer II</h4>
  <p>I did this online certification from Udacity (July - September 2018)</p>
</section>

<!--* Skills -->
<section class="jumbotron" id="skills">
  <h1 class="desc">My Skills</h1>
  <p>
    I write awesome and precise code that is correct and easy to understand.
    Some of the languages for the same are Java, C++, JavaScript. I can develop
    great working algorithms and websites from scratch itself.
  </p>
  <p>
    The progressbars are just an indication of my experience and not my
    knowledge. And Oh! I'm really good when given a task, and these progress
    bars cross <strong>100%</strong> in that case.
  </p>
  <!--* Java -->
  <h3>
    Java
    <div class="progress">
      <div class="progress-bar text-center" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
        aria-valuemax="100">
        95%
      </div>
    </div>
  </h3>

  <!--* C++ -->
  <h3>
    Web Development
    <div class="progress">
      <div class="progress-bar text-center" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
        aria-valuemax="100">
        90%
      </div>
    </div>
  </h3>

  <h3>
    C/C++
    <div class="progress">
      <div class="progress-bar text-center" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
        aria-valuemax="100">
        85%
      </div>
    </div>
  </h3>

  <h3>
    Data Structures and Algorithms
    <div class="progress">
      <div class="progress-bar text-center" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
        aria-valuemax="100">
        80%
      </div>
    </div>
  </h3>

  <h3>
    Python
    <div class="progress">
      <div class="progress-bar text-center" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
        aria-valuemax="100">
        75%
      </div>
    </div>
  </h3>

  <h3>
    Flutter, Android, IOS
    <div class="progress">
      <div class="progress-bar text-center" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0"
        aria-valuemax="100">
        55%
      </div>
    </div>
  </h3>

  <h3>
    MEAN Stack, Linux, Git
    <div class="progress">
      <div class="progress-bar text-center" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0"
        aria-valuemax="100">
        55%
      </div>
    </div>
  </h3>
  <h3>
    Machine Learning, Ruby On Rails
    <div class="progress">
      <div class="progress-bar text-center" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0"
        aria-valuemax="100">
        35%
      </div>
    </div>
  </h3>
</section>